<div class="root-container">
  <mat-drawer-container class="container" hasBackdrop="false" autosize>
    <mat-drawer class="sidenav" mode="push" opened>
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <div class="main-content">
      <app-rete></app-rete>
      <!-- <canvas #canvas resize></canvas> -->
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
<!-- <div class="input-1">INPUT-1</div> -->
<!-- <div class="input-2">INPUT-2</div> -->
<!-- <div class="input-1-line"></div> -->
<!-- <div class="input-2-line"></div> -->
