.root-container {
  height: 100%;
  /* width: 100%; */
}

.container {
  /* width: 100%; */
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  /* display: flex; */
}

.sidenav {
  padding: 20px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.main-content {
  /* width: 100%; */
  height: 100%;
  padding: 40px;
}

app-rete {
  /* width: 100%; */
  height: 100%;
  /* display: flex; */
}

.gate-container {
  /* border-radius: 4px; */
  /* padding: 5px; */
  display: flex;
  min-width: 100px;
  /* justify-content: space-between; */
  /* cursor: pointer; */
  margin-bottom: 10px;
  /* background-color: #3f3f3f; */
}

.gate-container:hover {
}

.gate-container > * {
  align-self: center;
}

.gate-icon {
  height: 30px;
  width: 30px;
}

.gate-name {
  font-size: 1rem;
  margin-right: 10px;
}
