.node {
  display: flex;
  flex-flow: row-reverse;
  border: 2px solid #202020;
  background: #3a4f4c;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  user-select: none;
  padding: 15px 5px;
}

.node:hover {
  background: rgba(58, 79, 76, 0.7);
}

.node.selected {
}

.node > * {
  align-self: center;
}

/* .node .output { */
/*   text-align: right; */
/* } */

/* .node .input { */
/*   text-align: left; */
/* } */

.node .input-title,
.node .output-title {
  vertical-align: middle;
  color: white;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  margin: 6px;
  line-height: 24px;
}

.node .input-title[hidden],
.node .output-title[hidden] {
  display: none;
}

.node .input-control {
  z-index: 1;
  width: calc(100% - 36px);
  vertical-align: middle;
  display: inline-block;
}

.node .control {
  padding: 6px 18px;
}

.output-container {
  margin-right: -12px;
}

.input-container {
  margin-left: -12px;
}
