<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <!-- <ng-template *ngIf="data.showInput"> -->
  <!-- <mat-form-field appearance="fill"> -->
  <!-- <mat-label>Favorite Animal</mat-label> -->
  <input matInput [(ngModel)]="data.returnValue" />
  <!-- </mat-form-field> -->
  <!-- </ng-template> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.returnValue" cdkFocusInitial>Confirm</button>
</div>
